.game-lobby {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    gap: 35px;
    padding-top: 10vh;
    background-color: #262626;
}

.game-state-button{
    background-color: rgba(0,0,0,0.1);
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center;     /* vertical centering */
    width: 50px;             /* fixed width */
    height: 50px;            /* fixed height */
    font-size: 1.2rem;       /* adjust as needed */
    cursor: pointer;
}

.player-card {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    background-color: #1a1a1a;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 150px;
    height: 50px;
    justify-content: center; /* horizontal centering */
    align-items: center;     /* vertical centering */
    border: 2px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    background-color: rgba(0,0,0,0.1);
    color: white;
}

.player-card-frame {
    gap: 75px;
    display: flex;
}

.custom-input{
        width: 50px;
        height: 25px;
        border-radius: 8px;
        text-align: center;
    background-color: rgba(0,0,0,0.1);
}

custom-input:disabled {
  background-color: #eee;
  color: #999;
  cursor: not-allowed;
}

.custom-select{
        width: 150px;
        height: 35px;
        border-radius: 8px;
        text-align: center;
}

custom-select:disabled {
  background-color: #eee;
  color: #999;
  cursor: not-allowed;
}

.kick-image {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: 1;
    z-index: 0;
}

.kick-button{
    position: absolute;
    width: 15px;
    height: 15px;
    right: 5%;
    top: 8%;
}

.kick-button:hover{
    cursor: pointer;
}


@media screen and (max-width: 768px) {

    .game-lobby {
        gap: 15px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5vh;
    }

    .player-card-container {
        transform: scale(0.8);

    }

    .player-card-frame {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
        grid-template-rows: repeat(2, 1fr);    /* 2 equal rows */
    }

}