.guess-card-hand {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    background-color: #1a1a1a;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 400px;
    height: 300px;
    justify-content: center; /* horizontal centering */
    align-items: center;     /* vertical centering */
}

.guess-card-hand:hover {
  transform: translateY(-20px);
}

.guess-card-timeline {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    background-color: #1a1a1a;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 133px;
    height: 100px;
    justify-content: center; /* horizontal centering */
    align-items: center;     /* vertical centering */
}

.guess-card-timeline:hover {

}