.hint-button, .hint-button-disabled{
    z-index: 1;
    display: grid;
    place-items: center;
    position: relative;
    width: 60px;
    height: 60px;
    min-width: 60px;
    max-width: 60px;
    min-height: 60px;
    max-height: 60px;
    overflow: hidden; /* Prevent content from spilling */
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    transform: scale(0.7);
}

.hint-button:hover {
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid white;
}

.hint-button-image {
    z-index: 0;
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.hints-number{
  position: absolute;
  color: white;
  font-weight: bold;
  user-select: none;
  pointer-events: none;
    font-size: 25px;
}

.hint-button-disabled{
    pointer-events: none;  /* Disables mouse interaction */
    user-select: none;     /* Prevents text selection */
}