.home{
    display: flex;
    flex-direction: column;
    justify-content: center;  /* horizontal */
    align-items: center;      /* vertical */
    gap: 50px;
}

.home-button{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    background-color: #1a1a1a;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 133px;
    height: 100px;
    justify-content: center; /* horizontal centering */
    align-items: center;     /* vertical centering */
    gap: 100px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    border: 2px solid black;
    background-color: rgba(0,0,0,0.1);
}

.home-button:hover{
    cursor: pointer;
    border: 2px solid white;
}

.home-button:disabled{
  background-color: #eee;
  color: #999;
  cursor: not-allowed;
}

.name-input{
    border-radius: 8px;
    font-weight: bold;
    height: 25px;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}

.name-input-label{
    font-weight: bold;
}

.home-button-div{
    display: flex;
    flex-direction: row;
    align-items: center;      /* vertical */
    gap: 50px;
    z-index: 1;
}

.popup-backdrop{
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-color: rgba(0.1, 0.1, 0.1, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.popup-button{
    border-radius: 8px;
    overflow: hidden;
    background-color: #1a1a1a;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center; /* horizontal centering */
    align-items: center;     /* vertical centering */
    gap: 100px;
    border: 2px solid black;
}

.popup-button:hover{
    cursor: pointer;
    border: 2px solid white;
}

.game-browser-window{
    position: absolute;
    border-radius: 8px;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    padding: 10px;
    z-index: 10;
    border: 2px solid white;
    opacity: 0.95;
}

.game-card-container{
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 60px;
}

.game-card{
    border-radius: 8px;
    height: 75px;
    background-color: #383838;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.game-card:hover{
    cursor: pointer;
    border: 2px solid white;
}

.close-button{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #222;
    color: white;
    border: none;
    cursor: pointer;
}

