.leave-button{
    z-index: 1;
    display: grid;
    place-items: center;
    overflow: hidden; /* Prevent content from spilling */
    border-radius: 8px;
    border: 2px solid black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    padding-top: 5px;
    padding-left: 5px;
}

.leave-button:hover {
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid white;
}

.leave-button-image {
    z-index: 0;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center;
        background-size: cover;
}
