.tile, .tile-disabled, .hint-tile, .hint-tile-disabled {
    width: 1px;
    height: 100px;
    opacity: 0.05;
    background-color: #ffffff;
    flex-shrink: 0;   /* Prevent shrinking in flexbox */
    flex-grow: 0;     /* Prevent growing in flexbox */
    object-fit: contain; /* if it's an image or media */
}

@keyframes glowOpacity {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}

.tile-disabled {
    pointer-events: none;
    user-select: none;     /* Prevents text selection */
}

.hint-tile {
  background-color: #faede5;
  animation: glowOpacity 2s infinite ease-in-out;
    user-select: none;
    width: 5px;
}

.hint-tile-disabled {
    background-color: #faede5;
    animation: glowOpacity 2s infinite ease-in-out;
    pointer-events: none;
    user-select: none;     /* Prevents text selection */
    width: 5px;
}

.tile:hover, .hint-tile:hover {
  cursor: pointer;
    background-color: #ffffff;
    opacity: 0.8;
}