.timeline {
  position: absolute;
  display: inline-flex;
  flex-direction: column;
  gap: 1vh;
  justify-content: center;
  align-items: center;

  width: auto;
  max-width: none;
  flex: 0 0 auto;
  bottom: 70%;
}

.timeline-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;

  width: max-content;
  min-width: max-content;
  flex: 0 0 auto;
}

@media screen and (max-width: 768px) {

  .timeline-row{
    gap: 0.2rem;
  }

}